@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    font-size: small;
}

header {
    padding: 20px;
}

.logoeaton {
    display: inline-block;
}

.titulo {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}



.menu {
    background-color: aqua;
}

.registronf {
    max-width: 800px;
    height: 93vh;
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
}

.caixasdeinput {
    border-radius: 4px;
    margin-right: 10px;
    border: 2px solid blue;
    min-height: 20px;
}
